.main {
  &__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  &__button {
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: $btn_color;
    color: $txt_color;
  }
}

.layout {
  &__footer {
    margin-top: 10;
    text-align: center;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-button {
    padding: 0;
  }

  &__navbar {
    background-color: $header_color;
  }

  &__navbar-button {
    color: $txt_color;
    text-transform: initial;
  }

  &__toolbar {
    justify-content: space-between;
  }
}
