/* Create Monita Page start */
.create_monita {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 100px;
    // background-color: $color-btn-pink;
  &__general{
    display: flex;
    flex-direction: column;
  }
    &__header {
      display: flex;
      flex-direction: row;
      img {
        height: 50px;
        width: 100%;
        object-fit: contain;
        overflow: hidden;
      }
      
    }
  
    &__name {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      &__title{
        margin-right: 20px;
      }
    }
    &__line {
      // color: red;
      height: 10px;
      background-color: antiquewhite;
    }
    &__date {
      padding-top:20px;
      display: flex;
      flex-direction: row;
      &_title{
        margin-right: 20px;
      }
    }
  }
  
  .phase {
    display: flex;
    flex-direction: row;
    &__name {
    }
    &__date {
      background-color: aqua;
    }
    &__entered {
      display: flex;
      flex-direction: row;
    }
    &__input_info {
      display: flex;
      flex-grow: row;
      &__field {
        display: flex;
        flex-grow: row;
        p {
          margin-right: 10px;
        }
      }
    }
  }
  
  .user_section {
    display: flex;
    flex-direction: column;
    &__input_field {
      display: flex;
      flex-direction: row;
    }
    &__users {
      display: flex;
      flex-direction: column;
    }
  }
  .member {
    display: flex;
    flex-direction: row;
    border: 1px solid gold;
  }
  